@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  min-height: 100%;
}

body {
  overflow: hidden;
  background-image: linear-gradient(to top, #f794a4 15%, #fcc6a4 100%);
  font-family: 'Fredoka One', sans-serif;
  color: #fff;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f794a4;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

.loading-container {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -8px;
}

.progress-bar-container {
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  background: #fff;
  top: 0px;
  bottom: 0px;
  left: 0;
  border-radius: 1px;
  transition: 1s width;
}

#scoreboard {
  width: 380px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -190px;
  font-size: 140px;
  text-shadow: 0 10px 20px rgba(0,0,0, .05);
  text-align: center;
  line-height: .85;
  z-index: -1 ;
}

#scoreboard span {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

.dg.ac {
    z-index: 5 !important;
    display: none;
}
